.xl1514068
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	
	color:windowtext;
	font-size:10.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Arial;
	
	
	
	text-align:general;
	vertical-align:bottom;
	
	
	white-space:nowrap;}
.xl2214068
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	
	color:windowtext;
	font-size:10.0pt;
	font-weight:700;
	font-style:normal;
	text-decoration:none;
	font-family:Arial, sans-serif;
	
	
	text-align:center;
	vertical-align:middle;
	border-top:1.0pt solid windowtext;
	border-right:.5pt solid windowtext;
	border-bottom:none;
	border-left:1.0pt solid windowtext;
	background:#FF99CC;
	
	white-space:nowrap;}
.xl2314068
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	
	color:windowtext;
	font-size:10.0pt;
	font-weight:700;
	font-style:normal;
	text-decoration:none;
	font-family:Arial, sans-serif;
	
	
	text-align:center;
	vertical-align:middle;
	border-top:1.0pt solid windowtext;
	border-right:none;
	border-bottom:none;
	border-left:none;
	background:#FF99CC;
	
	white-space:nowrap;}
.xl2414068
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	
	color:windowtext;
	font-size:10.0pt;
	font-weight:700;
	font-style:normal;
	text-decoration:none;
	font-family:Arial, sans-serif;
	
	
	text-align:center;
	vertical-align:middle;
	border-top:.5pt solid windowtext;
	border-right:.5pt solid windowtext;
	border-bottom:.5pt solid windowtext;
	border-left:1.0pt solid windowtext;
	background:#FF99CC;
	
	white-space:nowrap;}
.xl2514068
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	
	color:windowtext;
	font-size:10.0pt;
	font-weight:700;
	font-style:normal;
	text-decoration:none;
	font-family:Arial, sans-serif;
	
	
	text-align:center;
	vertical-align:middle;
	border-top:.5pt solid windowtext;
	border-right:none;
	border-bottom:.5pt solid windowtext;
	border-left:none;
	background:#FF99CC;
	
	white-space:nowrap;}
.xl2614068
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	
	color:windowtext;
	font-size:10.0pt;
	font-weight:700;
	font-style:normal;
	text-decoration:none;
	font-family:Arial, sans-serif;
	
	
	text-align:center;
	vertical-align:middle;
	border-top:.5pt solid windowtext;
	border-right:.5pt solid windowtext;
	border-bottom:.5pt solid windowtext;
	border-left:1.0pt solid windowtext;
	background:#99CCFF;
	
	white-space:nowrap;}
.xl2714068
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	
	color:windowtext;
	font-size:10.0pt;
	font-weight:700;
	font-style:normal;
	text-decoration:none;
	font-family:Arial, sans-serif;
	
	
	text-align:center;
	vertical-align:middle;
	border-top:.5pt solid windowtext;
	border-right:none;
	border-bottom:.5pt solid windowtext;
	border-left:none;
	background:#99CCFF;
	
	white-space:nowrap;}
.xl2814068
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	
	color:windowtext;
	font-size:10.0pt;
	font-weight:700;
	font-style:normal;
	text-decoration:none;
	font-family:Arial, sans-serif;
	
	
	text-align:center;
	vertical-align:middle;
	border-top:.5pt solid windowtext;
	border-right:.5pt solid windowtext;
	border-bottom:2.0pt double windowtext;
	border-left:1.0pt solid windowtext;
	background:#99CCFF;
	
	white-space:nowrap;}
.xl2914068
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	
	color:windowtext;
	font-size:10.0pt;
	font-weight:700;
	font-style:normal;
	text-decoration:none;
	font-family:Arial, sans-serif;
	
	
	text-align:center;
	vertical-align:middle;
	border-top:.5pt solid windowtext;
	border-right:none;
	border-bottom:2.0pt double windowtext;
	border-left:none;
	background:#99CCFF;
	
	white-space:nowrap;}
.xl3014068
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	
	color:#333399;
	font-size:10.0pt;
	font-weight:700;
	font-style:normal;
	text-decoration:none;
	font-family:Arial, sans-serif;
	
	
	text-align:center;
	vertical-align:middle;
	border-top:2.0pt double windowtext;
	border-right:.5pt solid windowtext;
	border-bottom:2.0pt double windowtext;
	border-left:1.0pt solid windowtext;
	background:#99CCFF;
	
	white-space:nowrap;}
.xl3114068
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	
	color:#333399;
	font-size:10.0pt;
	font-weight:700;
	font-style:normal;
	text-decoration:none;
	font-family:Arial, sans-serif;
	
	
	text-align:center;
	vertical-align:middle;
	border-top:2.0pt double windowtext;
	border-right:2.0pt double windowtext;
	border-bottom:2.0pt double windowtext;
	border-left:none;
	background:#99CCFF;
	
	white-space:nowrap;}
.xl3214068
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	
	color:red;
	font-size:10.0pt;
	font-weight:700;
	font-style:normal;
	text-decoration:none;
	font-family:Arial, sans-serif;
	
	
	text-align:center;
	vertical-align:middle;
	border-top:2.0pt double windowtext;
	border-right:.5pt solid windowtext;
	border-bottom:none;
	border-left:1.0pt solid windowtext;
	background:#FFFF99;
	
	white-space:nowrap;}
.xl3314068
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	
	color:red;
	font-size:10.0pt;
	font-weight:700;
	font-style:normal;
	text-decoration:none;
	font-family:Arial, sans-serif;
	
	
	text-align:center;
	vertical-align:middle;
	border-top:2.0pt double windowtext;
	border-right:1.0pt solid windowtext;
	border-bottom:none;
	border-left:none;
	background:#FFFF99;
	
	white-space:nowrap;}
.xl3414068
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	
	color:windowtext;
	font-size:10.0pt;
	font-weight:700;
	font-style:normal;
	text-decoration:none;
	font-family:Arial, sans-serif;
	
	
	text-align:center;
	vertical-align:middle;
	border-top:none;
	border-right:.5pt solid windowtext;
	border-bottom:none;
	border-left:1.0pt solid windowtext;
	background:#FFFF99;
	
	white-space:nowrap;}
.xl3514068
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	
	color:windowtext;
	font-size:10.0pt;
	font-weight:700;
	font-style:normal;
	text-decoration:none;
	font-family:Arial, sans-serif;
	
	
	text-align:center;
	vertical-align:middle;
	background:#FFFF99;
	
	white-space:nowrap;}
.xl3614068
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	
	color:windowtext;
	font-size:10.0pt;
	font-weight:700;
	font-style:normal;
	text-decoration:none;
	font-family:Arial, sans-serif;
	
	
	text-align:center;
	vertical-align:middle;
	border-top:.5pt solid windowtext;
	border-right:.5pt solid windowtext;
	border-bottom:.5pt solid windowtext;
	border-left:1.0pt solid windowtext;
	background:#FF8080;
	
	white-space:nowrap;}
.xl3714068
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	
	color:windowtext;
	font-size:10.0pt;
	font-weight:700;
	font-style:normal;
	text-decoration:none;
	font-family:Arial, sans-serif;
	
	
	text-align:center;
	vertical-align:middle;
	border-top:none;
	border-right:none;
	border-bottom:.5pt solid windowtext;
	border-left:none;
	background:#FF8080;
	
	white-space:nowrap;}
.xl3814068
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	
	color:red;
	font-size:10.0pt;
	font-weight:700;
	font-style:normal;
	text-decoration:none;
	font-family:Arial, sans-serif;
	
	
	text-align:center;
	vertical-align:middle;
	border-top:2.0pt double windowtext;
	border-right:.5pt solid windowtext;
	border-bottom:none;
	border-left:1.0pt solid windowtext;
	background:#CCFFFF;
	
	white-space:nowrap;}
.xl3914068
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	
	color:red;
	font-size:10.0pt;
	font-weight:700;
	font-style:normal;
	text-decoration:none;
	font-family:Arial, sans-serif;
	
	
	text-align:center;
	vertical-align:middle;
	border-top:2.0pt double windowtext;
	border-right:2.0pt double windowtext;
	border-bottom:none;
	border-left:.5pt solid windowtext;
	background:#CCFFFF;
	
	white-space:nowrap;}
.xl4014068
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	
	color:windowtext;
	font-size:10.0pt;
	font-weight:700;
	font-style:normal;
	text-decoration:none;
	font-family:Arial, sans-serif;
	
	
	text-align:center;
	vertical-align:middle;
	border-top:.5pt solid windowtext;
	border-right:2.0pt double windowtext;
	border-bottom:.5pt solid windowtext;
	border-left:.5pt solid windowtext;
	background:#CCFFFF;
	
	white-space:nowrap;}
.xl4114068
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	
	color:windowtext;
	font-size:10.0pt;
	font-weight:700;
	font-style:normal;
	text-decoration:none;
	font-family:Arial, sans-serif;
	
	
	text-align:center;
	vertical-align:middle;
	border-top:.5pt solid windowtext;
	border-right:none;
	border-bottom:.5pt solid windowtext;
	border-left:1.0pt solid windowtext;
	background:#CCFFFF;
	
	white-space:nowrap;}
.xl4214068
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	
	color:windowtext;
	font-size:10.0pt;
	font-weight:700;
	font-style:normal;
	text-decoration:none;
	font-family:Arial, sans-serif;
	
	
	text-align:center;
	vertical-align:middle;
	border-top:.5pt solid windowtext;
	border-right:none;
	border-bottom:2.0pt double windowtext;
	border-left:1.0pt solid windowtext;
	background:#CCFFFF;
	
	white-space:nowrap;}
.xl4314068
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	
	color:windowtext;
	font-size:10.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Arial, sans-serif;
	
	
	text-align:left;
	vertical-align:middle;
	border-top:none;
	border-right:1.0pt solid windowtext;
	border-bottom:none;
	border-left:2.0pt double windowtext;
	background:silver;
	
	white-space:nowrap;}
.xl4414068
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	
	color:windowtext;
	font-size:10.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Arial, sans-serif;
	
	
	text-align:left;
	vertical-align:middle;
	border-top:.5pt solid windowtext;
	border-right:1.0pt solid windowtext;
	border-bottom:.5pt solid windowtext;
	border-left:2.0pt double windowtext;
	background:silver;
	
	white-space:nowrap;}
.xl4514068
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	
	color:red;
	font-size:10.0pt;
	font-weight:700;
	font-style:normal;
	text-decoration:none;
	font-family:Arial, sans-serif;
	
	
	text-align:center;
	vertical-align:middle;
	border-top:2.0pt double windowtext;
	border-right:1.0pt solid windowtext;
	border-bottom:none;
	border-left:2.0pt double windowtext;
	background:silver;
	
	white-space:nowrap;}
.xl4614068
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	
	color:windowtext;
	font-size:10.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Arial, sans-serif;
	
	
	text-align:left;
	vertical-align:middle;
	border-top:1.0pt solid windowtext;
	border-right:1.0pt solid windowtext;
	border-bottom:none;
	border-left:2.0pt double windowtext;
	background:silver;
	
	white-space:nowrap;}
.xl4714068
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	
	color:windowtext;
	font-size:10.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Arial, sans-serif;
	
	
	text-align:left;
	vertical-align:middle;
	border-top:.5pt solid windowtext;
	border-right:1.0pt solid windowtext;
	border-bottom:2.0pt double windowtext;
	border-left:2.0pt double windowtext;
	background:silver;
	
	white-space:nowrap;}
.xl4814068
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	
	color:windowtext;
	font-size:10.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Arial;
	
	
	
	text-align:general;
	vertical-align:bottom;
	border-top:none;
	border-right:2.0pt double windowtext;
	border-bottom:none;
	border-left:none;
	
	
	white-space:nowrap;}
.xl4914068
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	
	color:windowtext;
	font-size:10.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Arial;
	
	
	
	text-align:general;
	vertical-align:bottom;
	border-top:none;
	border-right:none;
	border-bottom:none;
	border-left:2.0pt double windowtext;
	
	
	white-space:nowrap;}
.xl5014068
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	
	color:#333399;
	font-size:10.0pt;
	font-weight:700;
	font-style:normal;
	text-decoration:none;
	font-family:Arial, sans-serif;
	
	
	text-align:center;
	vertical-align:middle;
	border-top:2.0pt double windowtext;
	border-right:2.0pt double windowtext;
	border-bottom:2.0pt double windowtext;
	border-left:.5pt solid windowtext;
	background:#99CCFF;
	
	white-space:nowrap;}
.xl5114068
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	
	color:windowtext;
	font-size:10.0pt;
	font-weight:700;
	font-style:normal;
	text-decoration:none;
	font-family:Arial, sans-serif;
	
	mso-number-format:0;
	text-align:center;
	vertical-align:middle;
	border-top:none;
	border-right:none;
	border-bottom:none;
	border-left:1.0pt solid windowtext;
	background:#CCFFFF;
	
	white-space:nowrap;}
.xl5214068
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	
	color:windowtext;
	font-size:10.0pt;
	font-weight:700;
	font-style:normal;
	text-decoration:none;
	font-family:Arial, sans-serif;
	
	mso-number-format:0;
	text-align:center;
	vertical-align:middle;
	border-top:1.0pt solid windowtext;
	border-right:2.0pt double windowtext;
	border-bottom:1.0pt solid windowtext;
	border-left:.5pt solid windowtext;
	background:#CCFFFF;
	
	white-space:nowrap;}
.xl5314068
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	
	color:windowtext;
	font-size:10.0pt;
	font-weight:700;
	font-style:normal;
	text-decoration:none;
	font-family:Arial, sans-serif;
	
	
	text-align:center;
	vertical-align:middle;
	border-top:.5pt solid windowtext;
	border-right:2.0pt double windowtext;
	border-bottom:none;
	border-left:.5pt solid windowtext;
	background:#CCFFFF;
	
	white-space:nowrap;}
.xl5414068
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	
	color:windowtext;
	font-size:12.0pt;
	font-weight:700;
	font-style:normal;
	text-decoration:none;
	font-family:Arial, sans-serif;
	
	
	text-align:center;
	vertical-align:middle;
	border-top:1.0pt solid windowtext;
	border-right:none;
	border-bottom:1.0pt solid windowtext;
	border-left:2.0pt double windowtext;
	background:#969696;
	
	white-space:nowrap;}
.xl5514068
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	
	color:windowtext;
	font-size:12.0pt;
	font-weight:700;
	font-style:normal;
	text-decoration:none;
	font-family:Arial, sans-serif;
	
	
	text-align:center;
	vertical-align:middle;
	border-top:1.0pt solid windowtext;
	border-right:none;
	border-bottom:1.0pt solid windowtext;
	border-left:none;
	background:#969696;
	
	white-space:nowrap;}
.xl5614068
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	
	color:windowtext;
	font-size:10.0pt;
	font-weight:700;
	font-style:normal;
	text-decoration:none;
	font-family:Arial, sans-serif;
	
	'
	text-align:center;
	vertical-align:middle;
	border-top:.5pt solid windowtext;
	border-right:2.0pt double windowtext;
	border-bottom:.5pt solid windowtext;
	border-left:none;
	background:#CCFFFF;
	
	white-space:nowrap;}
.xl5714068
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	
	color:yellow;
	font-size:12.0pt;
	font-weight:700;
	font-style:normal;
	text-decoration:none;
	font-family:Arial, sans-serif;
	
	
	text-align:center;
	vertical-align:middle;
	border-top:2.0pt double windowtext;
	border-right:none;
	border-bottom:2.0pt double windowtext;
	border-left:2.0pt double windowtext;
	background:blue;
	
	white-space:nowrap;}
.xl5814068
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	
	color:yellow;
	font-size:10.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Arial, sans-serif;
	
	
	text-align:center;
	vertical-align:middle;
	border-top:2.0pt double windowtext;
	border-right:none;
	border-bottom:2.0pt double windowtext;
	border-left:none;
	background:blue;
	
	white-space:nowrap;}
.xl5914068
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	
	color:windowtext;
	font-size:10.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Arial;
	
	
	
	text-align:center;
	vertical-align:middle;
	border-top:2.0pt double windowtext;
	border-right:none;
	border-bottom:2.0pt double windowtext;
	border-left:none;
	
	
	white-space:nowrap;}
.xl6014068
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	
	color:windowtext;
	font-size:10.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Arial;
	
	
	
	text-align:center;
	vertical-align:middle;
	border-top:2.0pt double windowtext;
	border-right:2.0pt double windowtext;
	border-bottom:2.0pt double windowtext;
	border-left:none;
	
	
	white-space:nowrap;}
.xl6114068
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	
	color:windowtext;
	font-size:10.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Arial;
	
	
	
	text-align:general;
	vertical-align:bottom;
	border-top:2.0pt double windowtext;
	border-right:none;
	border-bottom:2.0pt double windowtext;
	border-left:2.0pt double windowtext;
	background:black;
	
	white-space:nowrap;}
.xl6214068
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	
	color:windowtext;
	font-size:10.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Arial;
	
	
	
	text-align:general;
	vertical-align:bottom;
	border-top:2.0pt double windowtext;
	border-right:none;
	border-bottom:2.0pt double windowtext;
	border-left:none;
	background:black;
	
	white-space:nowrap;}
.xl6314068
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	
	color:windowtext;
	font-size:10.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Arial;
	
	
	
	text-align:general;
	vertical-align:bottom;
	border-top:2.0pt double windowtext;
	border-right:2.0pt double windowtext;
	border-bottom:2.0pt double windowtext;
	border-left:none;
	background:black;
	
	white-space:nowrap;}
.xl6414068
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	
	color:windowtext;
	font-size:10.0pt;
	font-weight:700;
	font-style:normal;
	text-decoration:none;
	font-family:Arial, sans-serif;
	
	
	text-align:center;
	vertical-align:middle;
	border-top:1.0pt solid windowtext;
	border-right:none;
	border-bottom:.5pt solid windowtext;
	border-left:1.0pt solid windowtext;
	background:#CCFFFF;
	
	white-space:nowrap;}
.xl6514068
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	
	color:windowtext;
	font-size:10.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Arial;
	
	
	
	text-align:center;
	vertical-align:middle;
	border-top:1.0pt solid windowtext;
	border-right:2.0pt double windowtext;
	border-bottom:.5pt solid windowtext;
	border-left:none;
	
	
	white-space:nowrap;}
.xl6614068
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	
	color:windowtext;
	font-size:10.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Arial;
	
	
	
	text-align:center;
	vertical-align:middle;
	border-top:.5pt solid windowtext;
	border-right:2.0pt double windowtext;
	border-bottom:.5pt solid windowtext;
	border-left:none;
	
	
	white-space:nowrap;}
.xl6714068
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	
	color:windowtext;
	font-size:12.0pt;
	font-weight:700;
	font-style:normal;
	text-decoration:none;
	font-family:Arial, sans-serif;
	
	
	text-align:center;
	vertical-align:middle;
	border-top:1.0pt solid windowtext;
	border-right:2.0pt double windowtext;
	border-bottom:1.0pt solid windowtext;
	border-left:none;
	background:#969696;
	
	white-space:nowrap;}
.xl6814068
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	
	color:#333399;
	font-size:10.0pt;
	font-weight:700;
	font-style:normal;
	text-decoration:none;
	font-family:Arial, sans-serif;
	
	
	text-align:center;
	vertical-align:middle;
	border-top:2.0pt double windowtext;
	border-right:none;
	border-bottom:2.0pt double windowtext;
	border-left:2.0pt double windowtext;
	background:#99CCFF;
	
	white-space:nowrap;}
.xl6914068
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	
	color:#333399;
	font-size:10.0pt;
	font-weight:700;
	font-style:normal;
	text-decoration:none;
	font-family:Arial, sans-serif;
	
	
	text-align:center;
	vertical-align:middle;
	border-top:2.0pt double windowtext;
	border-right:none;
	border-bottom:2.0pt double windowtext;
	border-left:none;
	background:#99CCFF;
	
	white-space:nowrap;}
.xl7014068
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	
	color:#333399;
	font-size:10.0pt;
	font-weight:700;
	font-style:normal;
	text-decoration:none;
	font-family:Arial, sans-serif;
	
	
	text-align:center;
	vertical-align:middle;
	border-top:2.0pt double windowtext;
	border-right:1.0pt solid windowtext;
	border-bottom:2.0pt double windowtext;
	border-left:none;
	background:#99CCFF;
	
	white-space:nowrap;}
.xl7114068
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	
	color:windowtext;
	font-size:10.0pt;
	font-weight:700;
	font-style:normal;
	text-decoration:none;
	font-family:Arial, sans-serif;
	
	
	text-align:center;
	vertical-align:middle;
	border-top:.5pt solid windowtext;
	border-right:none;
	border-bottom:1.0pt solid windowtext;
	border-left:1.0pt solid windowtext;
	background:#CCFFFF;
	
	white-space:nowrap;}
.xl7214068
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	
	color:windowtext;
	font-size:10.0pt;
	font-weight:700;
	font-style:normal;
	text-decoration:none;
	font-family:Arial, sans-serif;
	
	
	text-align:center;
	vertical-align:middle;
	border-top:none;
	border-right:none;
	border-bottom:.5pt solid windowtext;
	border-left:1.0pt solid windowtext;
	background:#CCFFFF;
	
	white-space:nowrap;}
.xl7314068
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	
	color:windowtext;
	font-size:10.0pt;
	font-weight:700;
	font-style:normal;
	text-decoration:none;
	font-family:Arial, sans-serif;
	
	
	text-align:center;
	vertical-align:middle;
	border-top:1.0pt solid windowtext;
	border-right:2.0pt double windowtext;
	border-bottom:.5pt solid windowtext;
	border-left:none;
	background:#CCFFFF;
	
	white-space:nowrap;}
.xl7414068
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	
	color:windowtext;
	font-size:10.0pt;
	font-weight:700;
	font-style:normal;
	text-decoration:none;
	font-family:Arial, sans-serif;
	
	
	text-align:center;
	vertical-align:middle;
	border-top:.5pt solid windowtext;
	border-right:2.0pt double windowtext;
	border-bottom:2.0pt double windowtext;
	border-left:none;
	background:#CCFFFF;
	
	white-space:nowrap;}
.xl7514068
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	
	color:windowtext;
	font-size:10.0pt;
	font-weight:700;
	font-style:normal;
	text-decoration:none;
	font-family:Arial, sans-serif;
	
	
	text-align:center;
	vertical-align:middle;
	border-top:.5pt solid windowtext;
	border-right:2.0pt double windowtext;
	border-bottom:1.0pt solid windowtext;
	border-left:none;
	background:#CCFFFF;
	
	white-space:nowrap;}
.xl7614068
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	
	color:yellow;
	font-size:12.0pt;
	font-weight:700;
	font-style:normal;
	text-decoration:none;
	font-family:Arial, sans-serif;
	
	
	text-align:center;
	vertical-align:middle;
	border-top:2.0pt double windowtext;
	border-right:none;
	border-bottom:2.0pt double windowtext;
	border-left:none;
	background:blue;
	
	white-space:nowrap;}
.xl7714068
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	
	color:yellow;
	font-size:12.0pt;
	font-weight:700;
	font-style:normal;
	text-decoration:none;
	font-family:Arial, sans-serif;
	
	
	text-align:center;
	vertical-align:middle;
	border-top:2.0pt double windowtext;
	border-right:2.0pt double windowtext;
	border-bottom:2.0pt double windowtext;
	border-left:none;
	background:blue;
	
	white-space:nowrap;}
.xl7814068
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	
	color:windowtext;
	font-size:10.0pt;
	font-weight:700;
	font-style:normal;
	text-decoration:none;
	font-family:Arial, sans-serif;
	
	
	text-align:center;
	vertical-align:middle;
	border-top:none;
	border-right:2.0pt double windowtext;
	border-bottom:.5pt solid windowtext;
	border-left:none;
	background:#CCFFFF;
	
	white-space:nowrap;}