.xl24
{
	color:red;
	font-weight:700;
	font-family:Arial, sans-serif;
	font-size:10.0pt;
	text-align:center;
	vertical-align:middle;
	border-top:2.0pt double windowtext;
	border-right:.5pt solid windowtext;
	border-bottom:1.0pt solid windowtext;
	border-left:1.0pt solid windowtext;
	background:#FFFF99;
}
.xl25
{
	color:red;
	font-weight:700;
	font-family:Arial, sans-serif;
	font-size:10.0pt;
	text-align:center;
	vertical-align:middle;
	border-top:2.0pt double windowtext;
	border-right:1.0pt solid windowtext;
	border-bottom:1.0pt solid windowtext;
	border-left:none;
	background:#FFFF99;
}
.xl26
{
	font-weight:700;
	font-family:Arial, sans-serif;
	font-size:10.0pt;
	text-align:center;
	vertical-align:middle;
	border-top:1.0pt solid windowtext;
	border-right:.5pt solid windowtext;
	border-bottom:none;
	border-left:1.0pt solid windowtext;
	background:#FFFF99;
}
.xl27
{
	font-weight:700;
	font-family:Arial, sans-serif;
	font-size:10.0pt;
	text-align:center;
	vertical-align:middle;
	border-top:.5pt solid windowtext;
	border-right:.5pt solid windowtext;
	border-bottom:.5pt solid windowtext;
	border-left:1.0pt solid windowtext;
	background:#FFFF99;
}
.xl28
{
	font-weight:700;
	font-family:Arial, sans-serif;
	font-size:10.0pt;
	text-align:center;
	vertical-align:middle;
	border-top:.5pt solid windowtext;
	border-right:.5pt solid windowtext;
	border-bottom:2.0pt double windowtext;
	border-left:1.0pt solid windowtext;
	background:#FFFF99;
}
.xl29
{
	font-weight:700;
	font-family:Arial, sans-serif;
	font-size:10.0pt;
	text-align:center;
	vertical-align:middle;
	border-top:.5pt solid windowtext;
	border-right:2.0pt double windowtext;
	border-bottom:.5pt solid windowtext;
	border-left:.5pt solid windowtext;
	background:#99CCFF;
}
.xl30
{
	font-weight:700;
	font-family:Arial, sans-serif;
	font-size:10.0pt;
	text-align:center;
	vertical-align:middle;
	border-top:1.0pt solid windowtext;
	border-right:.5pt solid windowtext;
	border-bottom:none;
	border-left:1.0pt solid windowtext;
	background:#FF99CC;
	font-size:10.0pt;}
.xl31
{
	font-weight:700;
	font-family:Arial, sans-serif;
	font-size:10.0pt;
	text-align:center;
	vertical-align:middle;
	border-top:.5pt solid windowtext;
	border-right:.5pt solid windowtext;
	border-bottom:.5pt solid windowtext;
	border-left:1.0pt solid windowtext;
	background:#FF99CC;
}
.xl32
{
	color:red;
	font-weight:700;
	font-family:Arial, sans-serif;
	font-size:10.0pt;
	font-size:10.0pt;
	text-align:center;
	vertical-align:middle;
	border-top:2.0pt double windowtext;
	border-right:2.0pt double windowtext;
	border-bottom:1.0pt solid windowtext;
	border-left:.5pt solid windowtext;
	background:#99CCFF;
}
.xl33
{
	vertical-align:middle;}
.xl34
{
	font-weight:700;
	font-family:Arial, sans-serif;
	font-size:10.0pt;
	text-align:center;
	vertical-align:middle;
	border-top:.5pt solid windowtext;
	border-right:.5pt solid windowtext;
	border-bottom:.5pt solid windowtext;
	border-left:1.0pt solid windowtext;
	background:#FFCC00;
}
.xl35
{
	font-weight:700;
	font-family:Arial, sans-serif;
	 
	text-align:center;
	vertical-align:middle;
	border-top:.5pt solid windowtext;
	border-right:.5pt solid windowtext;
	border-bottom:.5pt solid windowtext;
	border-left:1.0pt solid windowtext;
	background:#99CCFF;
}
.xl36
	{ 
	font-weight:700;
	font-family:Arial, sans-serif;
	font-size:10.0pt;
	text-align:center;
	vertical-align:middle;
	border-top:none;
	border-right:.5pt solid windowtext;
	border-bottom:none;
	border-left:1.0pt solid windowtext;
	background:#99CCFF;
}
.xl37
{
	font-weight:700;
	font-family:Arial, sans-serif;
	font-size:10.0pt;
	text-align:center;
	vertical-align:middle;
	border-top:.5pt solid windowtext;
	border-right:.5pt solid windowtext;
	border-bottom:2.0pt double windowtext;
	border-left:1.0pt solid windowtext;
	background:#99CCFF;
}
.xl38
{
	color:#333399;
	font-weight:700;
	font-family:Arial, sans-serif;
	font-size:10.0pt;
	text-align:center;
	vertical-align:middle;
	border-top:2.0pt double windowtext;
	border-right:2.0pt double windowtext;
	border-bottom:2.0pt double windowtext;
	border-left:none;
	background:#99CCFF;
}
.xl39
{
	color:red;
	font-weight:700;
	font-family:Arial, sans-serif;
	font-size:10.0pt;
	text-align:center;
	vertical-align:middle;
	border-top:2.0pt double windowtext;
	border-right:.5pt solid windowtext;
	border-bottom:none;
	border-left:1.0pt solid windowtext;
	background:#FFFF99;
}
.xl40
{
	color:red;
	font-weight:700;
	font-family:Arial, sans-serif;
	font-size:10.0pt;
	text-align:center;
	vertical-align:middle;
	border-top:2.0pt double windowtext;
	border-right:1.0pt solid windowtext;
	border-bottom:none;
	border-left:none;
	background:#FFFF99;
}
.xl41
{
	font-weight:700;
	font-family:Arial, sans-serif;
	font-size:10.0pt;
	text-align:center;
	vertical-align:middle;
	border-top:none;
	border-right:.5pt solid windowtext;
	border-bottom:none;
	border-left:1.0pt solid windowtext;
	background:#FFFF99;
}
.xl42
{
	font-weight:700;
	font-family:Arial, sans-serif;
	font-size:10.0pt;
	text-align:center;
	vertical-align:middle;
	border-top:.5pt solid windowtext;
	border-right:.5pt solid windowtext;
	border-bottom:1.0pt solid windowtext;
	border-left:1.0pt solid windowtext;
	background:#FFFF99;
}
.xl43
{
	font-weight:700;
	font-family:Arial, sans-serif;
	font-size:10.0pt;
	text-align:center;
	vertical-align:middle;
	border-top:.5pt solid windowtext;
	border-right:.5pt solid windowtext;
	border-bottom:1.0pt solid windowtext;
	border-left:1.0pt solid windowtext;
	background:#FFCC00;
}
.xl44
{
	font-weight:700;
	font-family:Arial, sans-serif;
	font-size:10.0pt;
	text-align:center;
	vertical-align:middle;
	border-top:.5pt solid windowtext;
	border-right:.5pt solid windowtext;
	border-bottom:.5pt solid windowtext;
	border-left:1.0pt solid windowtext;
	background:#FFCC99;
}
.xl45
{
	font-weight:700;
	font-family:Arial, sans-serif;
	font-size:10.0pt;
	text-align:center;
	vertical-align:middle;
	border-top:.5pt solid windowtext;
	border-right:.5pt solid windowtext;
	border-bottom:1.0pt solid windowtext;
	border-left:1.0pt solid windowtext;
	background:#FFCC99;
}
.xl46
{
	font-weight:700;
	font-family:Arial, sans-serif;
	font-size:10.0pt;
	text-align:center;
	vertical-align:middle;
	border-top:1.0pt solid windowtext;
	border-right:.5pt solid windowtext;
	border-bottom:none;
	border-left:1.0pt solid windowtext;
	background:#FFCC00;
}
.xl47
{
	font-weight:700;
	font-family:Arial, sans-serif;
	font-size:10.0pt;
	text-align:center;
	vertical-align:middle;
	border-top:1.0pt solid windowtext;
	border-right:.5pt solid windowtext;
	border-bottom:none;
	border-left:1.0pt solid windowtext;
	background:#FF8080;
}
.xl48
{
	font-weight:700;
	font-family:Arial, sans-serif;
	font-size:10.0pt;
	text-align:center;
	vertical-align:middle;
	border-top:.5pt solid windowtext;
	border-right:.5pt solid windowtext;
	border-bottom:.5pt solid windowtext;
	border-left:1.0pt solid windowtext;
	background:#FF8080;
}
.xl49
{
	color:red;
	font-weight:700;
	font-family:Arial, sans-serif;
	font-size:10.0pt;
	text-align:center;
	vertical-align:middle;
	border-top:2.0pt double windowtext;
	border-right:2.0pt double windowtext;
	border-bottom:none;
	border-left:.5pt solid windowtext;
	background:#CCFFFF;
}
.xl50
{
	font-weight:700;
	font-family:Arial, sans-serif;
	font-size:10.0pt;
	text-align:center;
	vertical-align:middle;
	border-top:none;
	border-right:2.0pt double windowtext;
	border-bottom:none;
	border-left:.5pt solid windowtext;
	background:#CCFFFF;
}
.xl51
{
	font-weight:700;
	font-family:Arial, sans-serif;
	font-size:10.0pt;
	font-size:10.0pt;
	text-align:center;
	vertical-align:middle;
	border-top:.5pt solid windowtext;
	border-right:2.0pt double windowtext;
	border-bottom:.5pt solid windowtext;
	border-left:.5pt solid windowtext;
	background:#CCFFFF;
}
.xl52
{
	font-weight:700;
	font-family:Arial, sans-serif;
	font-size:10.0pt;
	font-size:10.0pt;
	text-align:center;
	vertical-align:middle;
	border-top:1.0pt solid windowtext;
	border-right:2.0pt double windowtext;
	border-bottom:none;
	border-left:.5pt solid windowtext;
	background:#CCFFFF;
}
.xl53
{
	font-weight:700;
	font-family:Arial, sans-serif;
	font-size:10.0pt;
	font-size:10.0pt;
	text-align:center;
	vertical-align:middle;
	border-top:.5pt solid windowtext;
	border-right:2.0pt double windowtext;
	border-bottom:2.0pt double windowtext;
	border-left:.5pt solid windowtext;
	background:#CCFFFF;
}
.xl54
{
	font-weight:700;
	font-family:Arial, sans-serif;
	font-size:10.0pt;
	font-size:10.0pt;
	text-align:center;
	vertical-align:middle;
	border-top:.5pt solid windowtext;
	border-right:2.0pt double windowtext;
	border-bottom:.5pt solid windowtext;
	border-left:.5pt solid windowtext;
	background:#CCFFFF;
}
.xl55
{
	font-weight:700;
	font-family:Arial, sans-serif;
	font-size:10.0pt;
	font-size:10.0pt;
	text-align:center;
	vertical-align:middle;
	border-top:.5pt solid windowtext;
	border-right:2.0pt double windowtext;
	border-bottom:1.0pt solid windowtext;
	border-left:.5pt solid windowtext;
	background:#CCFFFF;
}
.xl56
{
	font-weight:700;
	font-family:Arial, sans-serif;
	font-size:10.0pt;
	text-align:center;
	vertical-align:middle;
	border-top:.5pt solid windowtext;
	border-right:.5pt solid windowtext;
	border-bottom:1.0pt solid windowtext;
	border-left:1.0pt solid windowtext;
	background:#FF8080;
}
.xl57
{
	font-weight:700;
	font-family:Arial, sans-serif;
	font-size:10.0pt;
	text-align:center;
	vertical-align:middle;
	border-top:.5pt solid windowtext;
	border-right:.5pt solid windowtext;
	border-bottom:1.0pt solid windowtext;
	border-left:1.0pt solid windowtext;
	background:#FF99CC;
}
.xl58
{
	background:black;
}
.xl59
{
	font-weight:700;
	font-family:Arial, sans-serif;
	font-size:10.0pt;
	text-align:center;
	vertical-align:middle;
	border-top:.5pt solid windowtext;
	border-right:.5pt solid windowtext;
	border-bottom:none;
	border-left:1.0pt solid windowtext;
	background:#FF8080;
}
.xl60
{
	font-weight:700;
	font-family:Arial, sans-serif;
	font-size:10.0pt;
	text-align:center;
	vertical-align:middle;
	border-top:.5pt solid windowtext;
	border-right:.5pt solid windowtext;
	border-bottom:none;
	border-left:1.0pt solid windowtext;
	background:#FF99CC;
}
.xl61
{
	font-weight:700;
	font-family:Arial, sans-serif;
	font-size:10.0pt;
	text-align:center;
	vertical-align:middle;
	border-top:.5pt solid windowtext;
	border-right:.5pt solid windowtext;
	border-bottom:none;
	border-left:1.0pt solid windowtext;
	background:#99CCFF;
}
.xl62
{
	border-top:none;
	border-right:2.0pt double windowtext;
	border-bottom:none;
	border-left:none;}
.xl63
{
	border-top:none;
	border-right:none;
	border-bottom:none;
	border-left:2.0pt double windowtext;}
.xl64
{
	font-weight:700;
	font-family:Arial, sans-serif;
	font-size:10.0pt;
	font-size:10.0pt;
	text-align:center;
	vertical-align:middle;
	border-top:.5pt solid windowtext;
	border-right:2.0pt double windowtext;
	border-bottom:.5pt solid windowtext;
	border-left:.5pt solid windowtext;
	background:#99CCFF;
}
.xl65
{
	font-weight:700;
	font-family:Arial, sans-serif;
	font-size:10.0pt;
	font-size:10.0pt;
	text-align:center;
	vertical-align:middle;
	border-top:none;
	border-right:2.0pt double windowtext;
	border-bottom:none;
	border-left:.5pt solid windowtext;
	background:#CCFFFF;
}
.xl66
{
	font-weight:700;
	font-family:Arial, sans-serif;
	font-size:10.0pt;
	font-size:10.0pt;
	text-align:center;
	vertical-align:middle;
	border-top:.5pt solid windowtext;
	border-right:2.0pt double windowtext;
	border-bottom:.5pt solid windowtext;
	border-left:none;
	background:#CCFFFF;
}
.xl67
{
	font-weight:700;
	font-family:Arial, sans-serif;
	font-size:10.0pt;
	text-align:center;
	vertical-align:middle;
	border-top:none;
	border-right:.5pt solid windowtext;
	border-bottom:none;
	border-left:1.0pt solid windowtext;
	background:#FF8080;
}
.xl68
{
	font-weight:700;
	font-family:Arial, sans-serif;
	font-size:10.0pt;
	text-align:center;
	vertical-align:middle;
	border-top:.5pt solid windowtext;
	border-right:.5pt solid windowtext;
	border-bottom:none;
	border-left:1.0pt solid windowtext;
	background:#FFFF99;
}
.xl69
{
	font-weight:700;
	font-family:Arial, sans-serif;
	font-size:10.0pt;
	text-align:center;
	vertical-align:middle;
	border-top:.5pt solid windowtext;
	border-right:2.0pt double windowtext;
	border-bottom:none;
	border-left:.5pt solid windowtext;
	background:#CCFFFF;
}
.xl70
{
	font-weight:700;
	font-family:Arial, sans-serif;
	font-size:10.0pt;
	font-size:10.0pt;
	text-align:center;
	vertical-align:middle;
	border-top:1.0pt solid windowtext;
	border-right:2.0pt double windowtext;
	border-bottom:none;
	border-left:none;
	background:#CCFFFF;
}
.xl71
{
	color:#333399;
	font-weight:700;
	font-family:Arial, sans-serif;
	font-size:10.0pt;
	text-align:center;
	vertical-align:middle;
	border-top:2.0pt double windowtext;
	border-right:2.0pt double windowtext;
	border-bottom:2.0pt double windowtext;
	border-left:.5pt solid windowtext;
	background:#99CCFF;
}
.xl72
{
	font-weight:700;
	font-family:Arial, sans-serif;
	font-size:10.0pt;
	font-size:10.0pt;
	text-align:center;
	vertical-align:middle;
	border-top:1.0pt solid windowtext;
	border-right:2.0pt double windowtext;
	border-bottom:1.0pt solid windowtext;
	border-left:.5pt solid windowtext;
	background:#CCFFFF;
}
.xl73
{
	font-weight:700;
	font-family:Arial, sans-serif;
	font-size:10.0pt;
	font-size:10.0pt;
	text-align:center;
	vertical-align:middle;
	border-top:.5pt solid windowtext;
	border-right:2.0pt double windowtext;
	border-bottom:none;
	border-left:.5pt solid windowtext;
	background:#CCFFFF;
}
.xl74
{
	font-weight:700;
	font-family:Arial, sans-serif;
	font-size:10.0pt;
	text-align:center;
	vertical-align:middle;
	border-top:.5pt solid windowtext;
	border-right:1.0pt solid windowtext;
	border-bottom:.5pt solid windowtext;
	border-left:none;
	background:#FFFF99;
}
.xl75
{
	font-weight:700;
	font-family:Arial, sans-serif;
	font-size:10.0pt;
	text-align:center;
	vertical-align:middle;
	border-top:.5pt solid windowtext;
	border-right:.5pt solid windowtext;
	border-bottom:none;
	border-left:1.0pt solid windowtext;
	background:#FFCC00;
}
.xl76
{
	border-top:.5pt solid windowtext;
	border-right:none;
	border-bottom:.5pt solid windowtext;
	border-left:none;}
.xl77
{
	font-weight:700;
	font-family:Arial, sans-serif;
	font-size:10.0pt;
	text-align:center;
	vertical-align:middle;
	border-top:.5pt solid windowtext;
	border-right:1.0pt solid windowtext;
	border-bottom:.5pt solid windowtext;
	border-left:.5pt solid windowtext;
	background:#FFFF99;
}
.xl78
{
	font-weight:700;
	font-family:Arial, sans-serif;
	font-size:10.0pt;
	font-size:10.0pt;
	text-align:center;
	vertical-align:middle;
	border-top:.5pt solid windowtext;
	border-right:none;
	border-bottom:.5pt solid windowtext;
	border-left:1.0pt solid windowtext;
	background:#CCFFFF;
}
.xl79
{
	font-size:10.0pt;
	text-align:center;
	vertical-align:middle;
	border-top:.5pt solid windowtext;
	border-right:2.0pt double windowtext;
	border-bottom:.5pt solid windowtext;
	border-left:none;}
.xl80
{
	font-weight:700;
	font-family:Arial, sans-serif;
	font-size:10.0pt;
	font-size:10.0pt;
	text-align:center;
	vertical-align:middle;
	border-top:1.0pt solid windowtext;
	border-right:2.0pt double windowtext;
	border-bottom:.5pt solid windowtext;
	border-left:none;
	background:#CCFFFF;
}
.xl81
{
	font-weight:700;
	font-family:Arial, sans-serif;
	font-size:10.0pt;
	font-size:10.0pt;
	text-align:center;
	vertical-align:middle;
	border-top:.5pt solid windowtext;
	border-right:2.0pt double windowtext;
	border-bottom:2.0pt double windowtext;
	border-left:none;
	background:#CCFFFF;
}
.xl82
{
	text-align:center;
	vertical-align:middle;
	border-top:1.0pt solid windowtext;
	border-right:2.0pt double windowtext;
	border-bottom:.5pt solid windowtext;
	border-left:none;}
.xl83
{
	text-align:center;
	vertical-align:middle;
	border-top:.5pt solid windowtext;
	border-right:2.0pt double windowtext;
	border-bottom:.5pt solid windowtext;
	border-left:none;}
.xl84
{
	color:red;
	font-weight:700;
	font-family:Arial, sans-serif;
	font-size:10.0pt;
	text-align:center;
	vertical-align:middle;
	border-top:2.0pt double windowtext;
	border-right:2.0pt double windowtext;
	border-bottom:1.0pt solid windowtext;
	border-left:none;
	background:#CCFFFF;
}
.xl85
{
	color:yellow;
	font-size:12.0pt;
	font-weight:700;
	font-family:Arial, sans-serif;
	font-size:10.0pt;
	text-align:center;
	vertical-align:middle;
	border-top:2.0pt double windowtext;
	border-right:none;
	border-bottom:2.0pt double windowtext;
	border-left:2.0pt double windowtext;
	background:blue;
}
.xl86
{
	color:yellow;
	font-family:Arial, sans-serif;
	font-size:10.0pt;
	text-align:center;
	vertical-align:middle;
	border-top:2.0pt double windowtext;
	border-right:none;
	border-bottom:2.0pt double windowtext;
	border-left:none;
	background:blue;
}
.xl87
{
	text-align:center;
	vertical-align:middle;
	border-top:2.0pt double windowtext;
	border-right:none;
	border-bottom:2.0pt double windowtext;
	border-left:none;}
.xl88
{
	text-align:center;
	vertical-align:middle;
	border-top:2.0pt double windowtext;
	border-right:2.0pt double windowtext;
	border-bottom:2.0pt double windowtext;
	border-left:none;}
.xl89
{
	font-weight:700;
	font-family:Arial, sans-serif;
	font-size:10.0pt;
	font-size:10.0pt;
	text-align:center;
	vertical-align:middle;
	border-top:1.0pt solid windowtext;
	border-right:none;
	border-bottom:none;
	border-left:1.0pt solid windowtext;
	background:#99CCFF;
}
.xl90
{
	font-weight:700;
	font-family:Arial, sans-serif;
	font-size:10.0pt;
	font-size:10.0pt;
	text-align:center;
	vertical-align:middle;
	border-top:1.0pt solid windowtext;
	border-right:2.0pt double windowtext;
	border-bottom:none;
	border-left:none;
	background:#99CCFF;
}
.xl91
{
	font-weight:700;
	font-family:Arial, sans-serif;
	font-size:10.0pt;
	font-size:10.0pt;
	text-align:center;
	vertical-align:middle;
	border-top:.5pt solid windowtext;
	border-right:none;
	border-bottom:.5pt solid windowtext;
	border-left:1.0pt solid windowtext;
	background:#99CCFF;
}
.xl92
{
	font-weight:700;
	font-family:Arial, sans-serif;
	font-size:10.0pt;
	font-size:10.0pt;
	text-align:center;
	vertical-align:middle;
	border-top:.5pt solid windowtext;
	border-right:2.0pt double windowtext;
	border-bottom:.5pt solid windowtext;
	border-left:none;
	background:#99CCFF;
}
.xl93
{
	font-weight:700;
	font-family:Arial, sans-serif;
	font-size:10.0pt;
	font-size:10.0pt;
	text-align:center;
	vertical-align:middle;
	border-top:.5pt solid windowtext;
	border-right:none;
	border-bottom:2.0pt double windowtext;
	border-left:1.0pt solid windowtext;
	background:#99CCFF;
}
.xl94
{
	font-weight:700;
	font-family:Arial, sans-serif;
	font-size:10.0pt;
	font-size:10.0pt;
	text-align:center;
	vertical-align:middle;
	border-top:.5pt solid windowtext;
	border-right:2.0pt double windowtext;
	border-bottom:2.0pt double windowtext;
	border-left:none;
	background:#99CCFF;
}
.xl95
{
	color:red;
	font-weight:700;
	font-family:Arial, sans-serif;
	font-size:10.0pt;
	font-size:10.0pt;
	text-align:center;
	vertical-align:middle;
	border-top:2.0pt double windowtext;
	border-right:none;
	border-bottom:1.0pt solid windowtext;
	border-left:1.0pt solid windowtext;
	background:#99CCFF;
}
.xl96
{
	font-weight:700;
	font-family:Arial, sans-serif;
	font-size:10.0pt;
	font-size:10.0pt;
	text-align:center;
	vertical-align:middle;
	border-top:2.0pt double windowtext;
	border-right:2.0pt double windowtext;
	border-bottom:1.0pt solid windowtext;
	border-left:none;
	background:#99CCFF;
}
.xl97
{
	font-weight:700;
	font-family:Arial, sans-serif;
	font-size:10.0pt;
	font-size:10.0pt;
	text-align:center;
	vertical-align:middle;
	border-top:1.0pt solid windowtext;
	border-right:none;
	border-bottom:.5pt solid windowtext;
	border-left:1.0pt solid windowtext;
	background:#99CCFF;
}
.xl98
{
	font-weight:700;
	font-family:Arial, sans-serif;
	font-size:10.0pt;
	font-size:10.0pt;
	text-align:center;
	vertical-align:middle;
	border-top:1.0pt solid windowtext;
	border-right:2.0pt double windowtext;
	border-bottom:.5pt solid windowtext;
	border-left:none;
	background:#99CCFF;
}
.xl99
{
	font-weight:700;
	font-family:Arial, sans-serif;
	font-size:10.0pt;
	font-size:10.0pt;
	text-align:center;
	vertical-align:middle;
	border-top:none;
	border-right:none;
	border-bottom:.5pt solid windowtext;
	border-left:1.0pt solid windowtext;
	background:#99CCFF;
}
.xl100
{
	font-weight:700;
	font-family:Arial, sans-serif;
	font-size:10.0pt;
	font-size:10.0pt;
	text-align:center;
	vertical-align:middle;
	border-top:none;
	border-right:2.0pt double windowtext;
	border-bottom:.5pt solid windowtext;
	border-left:none;
	background:#99CCFF;
}
.xl101
{
	font-weight:700;
	font-family:Arial, sans-serif;
	font-size:10.0pt;
	font-size:10.0pt;
	text-align:center;
	vertical-align:middle;
	border-top:.5pt solid windowtext;
	border-right:none;
	border-bottom:.5pt solid windowtext;
	border-left:none;
	background:#99CCFF;
}
.xl102
{
	font-weight:700;
	font-family:Arial, sans-serif;
	font-size:10.0pt;
	font-size:10.0pt;
	text-align:center;
	vertical-align:middle;
	border-top:.5pt solid windowtext;
	border-right:none;
	border-bottom:.5pt solid windowtext;
	border-left:1.0pt solid windowtext;
	background:#CCFFFF;
}
.xl103
{
	font-weight:700;
	font-family:Arial, sans-serif;
	font-size:10.0pt;
	font-size:10.0pt;
	text-align:center;
	vertical-align:middle;
	border-top:.5pt solid windowtext;
	border-right:none;
	border-bottom:.5pt solid windowtext;
	border-left:1.0pt solid windowtext;
	background:#CCFFFF;
}
.xl104
{
	font-weight:700;
	font-family:Arial, sans-serif;
	font-size:10.0pt;
	font-size:10.0pt;
	text-align:center;
	vertical-align:middle;
	border-top:.5pt solid windowtext;
	border-right:2.0pt double windowtext;
	border-bottom:.5pt solid windowtext;
	border-left:none;
	background:#CCFFFF;
}
.xl105
{
	font-size:12.0pt;
	font-weight:700;
	font-family:Arial, sans-serif;
	font-size:10.0pt;
	text-align:center;
	vertical-align:middle;
	border-top:none;
	border-right:none;
	border-bottom:1.0pt solid windowtext;
	border-left:2.0pt double windowtext;
	background:#969696;
}
.xl106
{
	font-size:12.0pt;
	font-weight:700;
	font-family:Arial, sans-serif;
	font-size:10.0pt;
	text-align:center;
	vertical-align:middle;
	border-top:none;
	border-right:none;
	border-bottom:1.0pt solid windowtext;
	border-left:none;
	background:#969696;
}
.xl107
{
	font-size:12.0pt;
	font-weight:700;
	font-family:Arial, sans-serif;
	font-size:10.0pt;
	text-align:center;
	vertical-align:middle;
	border-top:none;
	border-right:2.0pt double windowtext;
	border-bottom:1.0pt solid windowtext;
	border-left:none;
	background:#969696;
}
.xl108
{
	font-weight:700;
	font-family:Arial, sans-serif;
	font-size:10.0pt;
	font-size:10.0pt;
	text-align:center;
	vertical-align:middle;
	border-top:1.0pt solid windowtext;
	border-right:none;
	border-bottom:.5pt solid windowtext;
	border-left:1.0pt solid windowtext;
	background:#CCFFFF;
}
.xl109
{
	font-weight:700;
	font-family:Arial, sans-serif;
	font-size:10.0pt;
	font-size:10.0pt;
	text-align:center;
	vertical-align:middle;
	border-top:.5pt solid windowtext;
	border-right:none;
	border-bottom:1.0pt solid windowtext;
	border-left:1.0pt solid windowtext;
	background:#CCFFFF;
}
.xl110
{
	font-size:10.0pt;
	text-align:center;
	vertical-align:middle;
	border-top:.5pt solid windowtext;
	border-right:2.0pt double windowtext;
	border-bottom:1.0pt solid windowtext;
	border-left:none;}
.xl111
{
	font-weight:700;
	font-family:Arial, sans-serif;
	font-size:10.0pt;
	font-size:10.0pt;
	text-align:center;
	vertical-align:middle;
	border-top:.5pt solid windowtext;
	border-right:none;
	border-bottom:1.0pt solid windowtext;
	border-left:1.0pt solid windowtext;
	background:#CCFFFF;
}
.xl112
{
	text-align:center;
	vertical-align:middle;
	border-top:.5pt solid windowtext;
	border-right:2.0pt double windowtext;
	border-bottom:1.0pt solid windowtext;
	border-left:none;}
.xl113
{
	font-size:12.0pt;
	font-weight:700;
	font-family:Arial, sans-serif;
	font-size:10.0pt;
	text-align:center;
	vertical-align:middle;
	border-top:1.0pt solid windowtext;
	border-right:none;
	border-bottom:1.0pt solid windowtext;
	border-left:2.0pt double windowtext;
	background:#969696;
}
.xl114
{
	font-size:12.0pt;
	font-weight:700;
	font-family:Arial, sans-serif;
	font-size:10.0pt;
	text-align:center;
	vertical-align:middle;
	border-top:1.0pt solid windowtext;
	border-right:none;
	border-bottom:1.0pt solid windowtext;
	border-left:none;
	background:#969696;
}
.xl115
{
	font-size:12.0pt;
	font-weight:700;
	font-family:Arial, sans-serif;
	font-size:10.0pt;
	text-align:center;
	vertical-align:middle;
	border-top:1.0pt solid windowtext;
	border-right:2.0pt double windowtext;
	border-bottom:1.0pt solid windowtext;
	border-left:none;
	background:#969696;
}
.xl116
{
	color:#333399;
	font-weight:700;
	font-family:Arial, sans-serif;
	font-size:10.0pt;
	text-align:center;
	vertical-align:middle;
	border-top:2.0pt double windowtext;
	border-right:none;
	border-bottom:2.0pt double windowtext;
	border-left:2.0pt double windowtext;
	background:#99CCFF;
}
.xl117
{
	color:#333399;
	font-weight:700;
	font-family:Arial, sans-serif;
	font-size:10.0pt;
	text-align:center;
	vertical-align:middle;
	border-top:2.0pt double windowtext;
	border-right:none;
	border-bottom:2.0pt double windowtext;
	border-left:none;
	background:#99CCFF;
}
.xl118
{
	color:#333399;
	font-weight:700;
	font-family:Arial, sans-serif;
	font-size:10.0pt;
	text-align:center;
	vertical-align:middle;
	border-top:2.0pt double windowtext;
	border-right:1.0pt solid windowtext;
	border-bottom:2.0pt double windowtext;
	border-left:none;
	background:#99CCFF;
}
.xl119
{
	font-weight:700;
	font-family:Arial, sans-serif;
	font-size:10.0pt;
	font-size:10.0pt;
	text-align:center;
	vertical-align:middle;
	border-top:.5pt solid windowtext;
	border-right:none;
	border-bottom:none;
	border-left:1.0pt solid windowtext;
	background:#CCFFFF;
}
.xl120
{
	text-align:center;
	vertical-align:middle;
	border-top:.5pt solid windowtext;
	border-right:2.0pt double windowtext;
	border-bottom:none;
	border-left:none;}
.xl121
{
	font-weight:700;
	font-family:Arial, sans-serif;
	font-size:10.0pt;
	font-size:10.0pt;
	text-align:center;
	vertical-align:middle;
	border-top:.5pt solid windowtext;
	border-right:none;
	border-bottom:none;
	border-left:1.0pt solid windowtext;
	background:#CCFFFF;
}
.xl122
{
	font-size:10.0pt;
	text-align:center;
	vertical-align:middle;
	border-top:.5pt solid windowtext;
	border-right:2.0pt double windowtext;
	border-bottom:none;
	border-left:none;}
.xl123
{
	border-top:2.0pt double windowtext;
	border-right:none;
	border-bottom:2.0pt double windowtext;
	border-left:2.0pt double windowtext;
	background:black;
}
.xl124
{
	border-top:2.0pt double windowtext;
	border-right:none;
	border-bottom:2.0pt double windowtext;
	border-left:none;
	background:black;
}
.xl125
{
	border-top:2.0pt double windowtext;
	border-right:2.0pt double windowtext;
	border-bottom:2.0pt double windowtext;
	border-left:none;
	background:black;
}
.xl126
{
	font-weight:700;
	font-family:Arial, sans-serif;
	font-size:10.0pt;
	font-size:10.0pt;
	text-align:center;
	vertical-align:middle;
	border-top:.5pt solid windowtext;
	border-right:none;
	border-bottom:2.0pt double windowtext;
	border-left:1.0pt solid windowtext;
	background:#CCFFFF;
}
.xl127
{
	text-align:center;
	vertical-align:middle;
	border-top:.5pt solid windowtext;
	border-right:2.0pt double windowtext;
	border-bottom:2.0pt double windowtext;
	border-left:none;}
.xl128
{
	border-top:2.0pt double windowtext;
	border-right:none;
	border-bottom:none;
	border-left:2.0pt double windowtext;
	background:black;
}
.xl129
{
	border-top:2.0pt double windowtext;
	border-right:none;
	border-bottom:none;
	border-left:none;}
.xl130
{
	border-top:2.0pt double windowtext;
	border-right:2.0pt double windowtext;
	border-bottom:none;
	border-left:none;}
.xl131
{
	text-align:center;
	vertical-align:middle;
	border-top:.5pt solid windowtext;
	border-right:.5pt solid windowtext;
	border-bottom:.5pt solid windowtext;
	border-left:none;}
.xl132
{
	text-align:center;
	vertical-align:middle;
	border-top:.5pt solid windowtext;
	border-right:.5pt solid windowtext;
	border-bottom:2.0pt double windowtext;
	border-left:none;}
.xl133
{
	text-align:center;
	vertical-align:middle;
	border-top:.5pt solid windowtext;
	border-right:none;
	border-bottom:.5pt solid windowtext;
	border-left:none;}
.xl134
{
	font-weight:700;
	font-family:Arial, sans-serif;
	font-size:10.0pt;
	font-size:10.0pt;
	text-align:center;
	vertical-align:middle;
	border-top:none;
	border-right:none;
	border-bottom:.5pt solid windowtext;
	border-left:1.0pt solid windowtext;
	background:#CCFFFF;
}
.xl135
{
	text-align:center;
	vertical-align:middle;
	border-top:none;
	border-right:2.0pt double windowtext;
	border-bottom:.5pt solid windowtext;
	border-left:none;}
.xl136
{
	border-top:2.0pt double windowtext;
	border-right:none;
	border-bottom:2.0pt double windowtext;
	border-left:none;}
.xl137
{
	border-top:2.0pt double windowtext;
	border-right:2.0pt double windowtext;
	border-bottom:2.0pt double windowtext;
	border-left:none;}
.xl138
{
	font-weight:700;
	font-family:Arial, sans-serif;
	font-size:10.0pt;
	font-size:10.0pt;
	text-align:center;
	vertical-align:middle;
	border-top:.5pt solid windowtext;
	border-right:2.0pt double windowtext;
	border-bottom:1.0pt solid windowtext;
	border-left:none;
	background:#CCFFFF;
}
.xl139
{
	font-weight:700;
	font-family:Arial, sans-serif;
	font-size:10.0pt;
	font-size:10.0pt;
	text-align:center;
	vertical-align:middle;
	border-top:none;
	border-right:2.0pt double windowtext;
	border-bottom:.5pt solid windowtext;
	border-left:none;
	background:#CCFFFF;
}
.xl140
{
	color:yellow;
	font-size:12.0pt;
	font-weight:700;
	font-family:Arial, sans-serif;
	font-size:10.0pt;
	text-align:center;
	vertical-align:middle;
	border-top:2.0pt double windowtext;
	border-right:none;
	border-bottom:2.0pt double windowtext;
	border-left:none;
	background:blue;
}
.xl141
{
	color:yellow;
	font-size:12.0pt;
	font-weight:700;
	font-family:Arial, sans-serif;
	font-size:10.0pt;
	text-align:center;
	vertical-align:middle;
	border-top:2.0pt double windowtext;
	border-right:2.0pt double windowtext;
	border-bottom:2.0pt double windowtext;
	border-left:none;
	background:blue;
}
.xl142
{
	color:red;
	font-weight:700;
	font-family:Arial, sans-serif;
	font-size:10.0pt;
	text-align:center;
	vertical-align:middle;
	border-top:2.0pt double windowtext;
	border-right:none;
	border-bottom:1.0pt solid windowtext;
	border-left:1.0pt solid windowtext;
	background:#CCFFFF;
}
.xl143
{
	font-weight:700;
	font-family:Arial, sans-serif;
	font-size:10.0pt;
	font-size:10.0pt;
	text-align:center;
	vertical-align:middle;
	border-top:.5pt solid windowtext;
	border-right:2.0pt double windowtext;
	border-bottom:.5pt solid windowtext;
	border-left:none;
	background:#CCFFFF;
}
.xl144
{
	font-weight:700;
	font-family:Arial, sans-serif;
	font-size:10.0pt;
	font-size:10.0pt;
	text-align:center;
	vertical-align:middle;
	border-top:1.0pt solid windowtext;
	border-right:none;
	border-bottom:none;
	border-left:1.0pt solid windowtext;
	background:#CCFFFF;
}
.xl145
{
	text-align:center;
	vertical-align:middle;
	border-top:1.0pt solid windowtext;
	border-right:2.0pt double windowtext;
	border-bottom:none;
	border-left:none;}
.xl146
{
	font-weight:700;
	font-family:Arial, sans-serif;
	font-size:10.0pt;
	font-size:10.0pt;
	text-align:center;
	vertical-align:middle;
	border-top:.5pt solid windowtext;
	border-right:2.0pt double windowtext;
	border-bottom:none;
	border-left:none;
	background:#CCFFFF;
}
.xl147
{
	vertical-align:middle;
	border-top:none;
	border-right:none;
	border-bottom:none;
	border-left:2.0pt double windowtext;}
.xl148
{
	vertical-align:middle;
	border-top:none;
	border-right:2.0pt double windowtext;
	border-bottom:none;
	border-left:none;}
.xl149
{
	color:red;
	font-weight:700;
	font-family:Arial, sans-serif;
	font-size:10.0pt;
	font-size:10.0pt;
	text-align:center;
	vertical-align:middle;
	border-top:2.0pt double windowtext;
	border-right:.5pt solid windowtext;
	border-bottom:1.0pt solid windowtext;
	border-left:none;
	background:#99CCFF;
}
.xl150
{
	font-weight:700;
	font-family:Arial, sans-serif;
	font-size:10.0pt;
	font-size:10.0pt;
	text-align:center;
	vertical-align:middle;
	border-top:.5pt solid windowtext;
	border-right:.5pt solid windowtext;
	border-bottom:.5pt solid windowtext;
	border-left:none;
	background:#99CCFF;
}
.xl151
{
	font-weight:700;
	font-family:Arial, sans-serif;
	font-size:10.0pt;
	font-size:10.0pt;
	text-align:center;
	vertical-align:middle;
	border-top:.5pt solid windowtext;
	border-right:.5pt solid windowtext;
	border-bottom:.5pt solid windowtext;
	border-left:none;
	background:#99CCFF;
}
.xl152
{
	font-weight:700;
	font-family:Arial, sans-serif;
	font-size:10.0pt;
	text-align:center;
	vertical-align:middle;
	border-top:none;
	border-right:1.0pt solid windowtext;
	border-bottom:.5pt solid windowtext;
	border-left:none;
	background:#FFFF99;
}
.xl153
{
	font-weight:700;
	font-family:Arial, sans-serif;
	font-size:10.0pt;
	text-align:center;
	vertical-align:middle;
	border-top:1.0pt solid windowtext;
	border-right:1.0pt solid windowtext;
	border-bottom:none;
	border-left:none;
	background:#FFFF99;
}
.xl154
{
	font-weight:700;
	font-family:Arial, sans-serif;
	font-size:10.0pt;
	text-align:center;
	vertical-align:middle;
	border-top:.5pt solid windowtext;
	border-right:1.0pt solid windowtext;
	border-bottom:2.0pt double windowtext;
	border-left:none;
	background:#FFFF99;
}
.xl155
{
	vertical-align:middle;
	border-top:none;
	border-right:1.0pt solid windowtext;
	border-bottom:none;
	border-left:none;}
.xl156
{
	color:red;
	font-weight:700;
	font-family:Arial, sans-serif;
	font-size:10.0pt;
	text-align:center;
	vertical-align:middle;
	border-top:2.0pt double windowtext;
	border-right:none;
	border-bottom:1.0pt solid windowtext;
	border-left:2.0pt double windowtext;}
.xl157
{
	font-family:Arial, sans-serif;
	font-size:10.0pt;
	text-align:left;
	vertical-align:middle;
	border-top:.5pt solid windowtext;
	border-right:none;
	border-bottom:.5pt solid windowtext;
	border-left:2.0pt double windowtext;}
.xl158
{
	font-family:Arial, sans-serif;
	font-size:10.0pt;
	text-align:left;
	vertical-align:middle;
	border-top:1.0pt solid windowtext;
	border-right:none;
	border-bottom:none;
	border-left:2.0pt double windowtext;}
.xl159
{
	font-family:Arial, sans-serif;
	font-size:10.0pt;
	text-align:left;
	vertical-align:middle;
	border-top:.5pt solid windowtext;
	border-right:none;
	border-bottom:2.0pt double windowtext;
	border-left:2.0pt double windowtext;}
.xl160
{
	vertical-align:middle;
	border-top:none;
	border-right:none;
	border-bottom:none;
	border-left:1.0pt solid windowtext;}
.xl161
{
	font-weight:700;
	font-family:Arial, sans-serif;
	font-size:10.0pt;
	text-align:center;
	vertical-align:middle;
	border-top:.5pt solid windowtext;
	border-right:1.0pt solid windowtext;
	border-bottom:2.0pt double windowtext;
	border-left:.5pt solid windowtext;
	background:#FFFF99;
}
.xl162
{
	font-weight:700;
	font-family:Arial, sans-serif;
	font-size:10.0pt;
	font-size:10.0pt;
	text-align:center;
	vertical-align:middle;
	border-top:.5pt solid windowtext;
	border-right:none;
	border-bottom:2.0pt double windowtext;
	border-left:none;
	background:#99CCFF;
}
.xl163
{
	font-weight:700;
	font-family:Arial, sans-serif;
	font-size:10.0pt;
	text-align:center;
	vertical-align:middle;
	border-top:none;
	border-right:.5pt solid windowtext;
	border-bottom:2.0pt double windowtext;
	border-left:1.0pt solid windowtext;
	background:#FFFF99;
}
.xl164
{
	color:red;
	font-weight:700;
	font-family:Arial, sans-serif;
	font-size:10.0pt;
	text-align:center;
	vertical-align:middle;
	border-top:2.0pt double windowtext;
	border-right:none;
	border-bottom:none;
	border-left:2.0pt double windowtext;
	background:silver;
}
.xl165
{
	font-family:Arial, sans-serif;
	font-size:10.0pt;
	text-align:left;
	vertical-align:middle;
	border-top:none;
	border-right:none;
	border-bottom:none;
	border-left:2.0pt double windowtext;
	background:silver;
}
.xl166
{
	font-family:Arial, sans-serif;
	font-size:10.0pt;
	text-align:left;
	vertical-align:middle;
	border-top:.5pt solid windowtext;
	border-right:none;
	border-bottom:.5pt solid windowtext;
	border-left:2.0pt double windowtext;
	background:silver;
}
.xl167
{
	font-family:Arial, sans-serif;
	font-size:10.0pt;
	text-align:left;
	vertical-align:middle;
	border-top:1.0pt solid windowtext;
	border-right:none;
	border-bottom:none;
	border-left:2.0pt double windowtext;
	background:silver;
}
.xl168
{
	font-family:Arial, sans-serif;
	font-size:10.0pt;
	text-align:left;
	vertical-align:middle;
	border-top:.5pt solid windowtext;
	border-right:none;
	border-bottom:1.0pt solid windowtext;
	border-left:2.0pt double windowtext;
	background:silver;
}
.xl169
{
	font-family:Arial, sans-serif;
	font-size:10.0pt;
	text-align:left;
	vertical-align:middle;
	border-top:.5pt solid windowtext;
	border-right:none;
	border-bottom:2.0pt double windowtext;
	border-left:2.0pt double windowtext;
	background:silver;
}
.xl170
{
	font-family:Arial, sans-serif;
	font-size:10.0pt;
	text-align:left;
	vertical-align:middle;
	border-top:.5pt solid windowtext;
	border-right:none;
	border-bottom:none;
	border-left:2.0pt double windowtext;
	background:silver;
}
.xl171
{
	border-top:none;
	border-right:none;
	border-bottom:none;
	border-left:1.0pt solid windowtext;}
.xl172
{
	color:#333399;
	font-weight:700;
	font-family:Arial, sans-serif;
	font-size:10.0pt;
	text-align:center;
	vertical-align:middle;
	border-top:2.0pt double windowtext;
	border-right:.5pt solid windowtext;
	border-bottom:2.0pt double windowtext;
	border-left:none;
	background:#99CCFF;
}
.xl173
{
	color:red;
	font-weight:700;
	font-family:Arial, sans-serif;
	font-size:10.0pt;
	text-align:center;
	vertical-align:middle;
	border-top:2.0pt double windowtext;
	border-right:.5pt solid windowtext;
	border-bottom:none;
	border-left:none;
	background:#CCFFFF;
}
.xl174
{
	font-weight:700;
	font-family:Arial, sans-serif;
	font-size:10.0pt;
	text-align:center;
	vertical-align:middle;
	border-top:none;
	border-right:.5pt solid windowtext;
	border-bottom:none;
	border-left:none;
	background:#CCFFFF;
}
.xl175
{
	font-weight:700;
	font-family:Arial, sans-serif;
	font-size:10.0pt;
	font-size:10.0pt;
	text-align:center;
	vertical-align:middle;
	border-top:.5pt solid windowtext;
	border-right:.5pt solid windowtext;
	border-bottom:.5pt solid windowtext;
	border-left:none;
	background:#CCFFFF;
}
.xl176
{
	font-weight:700;
	font-family:Arial, sans-serif;
	font-size:10.0pt;
	font-size:10.0pt;
	text-align:center;
	vertical-align:middle;
	border-top:1.0pt solid windowtext;
	border-right:none;
	border-bottom:none;
	border-left:none;
	background:#CCFFFF;
}
.xl177
{
	font-weight:700;
	font-family:Arial, sans-serif;
	font-size:10.0pt;
	font-size:10.0pt;
	text-align:center;
	vertical-align:middle;
	border-top:.5pt solid windowtext;
	border-right:none;
	border-bottom:.5pt solid windowtext;
	border-left:none;
	background:#CCFFFF;
}
.xl178
{
	font-weight:700;
	font-family:Arial, sans-serif;
	font-size:10.0pt;
	font-size:10.0pt;
	text-align:center;
	vertical-align:middle;
	border-top:.5pt solid windowtext;
	border-right:none;
	border-bottom:1.0pt solid windowtext;
	border-left:none;
	background:#CCFFFF;
}
.xl179
{
	font-weight:700;
	font-family:Arial, sans-serif;
	font-size:10.0pt;
	font-size:10.0pt;
	text-align:center;
	vertical-align:middle;
	border-top:.5pt solid windowtext;
	border-right:none;
	border-bottom:.5pt solid windowtext;
	border-left:none;
	background:#CCFFFF;
}
.xl180
{
	font-weight:700;
	font-family:Arial, sans-serif;
	font-size:10.0pt;
	font-size:10.0pt;
	text-align:center;
	vertical-align:middle;
	border-top:.5pt solid windowtext;
	border-right:none;
	border-bottom:2.0pt double windowtext;
	border-left:none;
	background:#CCFFFF;
}
.xl181
{
	font-weight:700;
	font-family:Arial, sans-serif;
	font-size:10.0pt;
	text-align:center;
	vertical-align:middle;
	border-top:none;
	border-right:1.0pt solid windowtext;
	border-bottom:none;
	border-left:none;
	background:#FFFF99;
}
.xl182
{
	font-weight:700;
	font-family:Arial, sans-serif;
	font-size:10.0pt;
	text-align:center;
	vertical-align:middle;
	border-top:.5pt solid windowtext;
	border-right:1.0pt solid windowtext;
	border-bottom:.5pt solid windowtext;
	border-left:none;
	background:#FFCC99;
}
.xl183
{
	font-weight:700;
	font-family:Arial, sans-serif;
	font-size:10.0pt;
	text-align:center;
	vertical-align:middle;
	border-top:1.0pt solid windowtext;
	border-right:1.0pt solid windowtext;
	border-bottom:none;
	border-left:none;
	background:#FFCC00;
}
.xl184
{
	font-weight:700;
	font-family:Arial, sans-serif;
	font-size:10.0pt;
	text-align:center;
	vertical-align:middle;
	border-top:.5pt solid windowtext;
	border-right:1.0pt solid windowtext;
	border-bottom:.5pt solid windowtext;
	border-left:none;
	background:#FFCC00;
}
.xl185
{
	font-weight:700;
	font-family:Arial, sans-serif;
	font-size:10.0pt;
	text-align:center;
	vertical-align:middle;
	border-top:.5pt solid windowtext;
	border-right:1.0pt solid windowtext;
	border-bottom:1.0pt solid windowtext;
	border-left:none;
	background:#FFCC00;
}
.xl186
{
	font-weight:700;
	font-family:Arial, sans-serif;
	font-size:10.0pt;
	text-align:center;
	vertical-align:middle;
	border-top:1.0pt solid windowtext;
	border-right:1.0pt solid windowtext;
	border-bottom:none;
	border-left:none;
	background:#FF8080;
}
.xl187
{
	font-weight:700;
	font-family:Arial, sans-serif;
	font-size:10.0pt;
	text-align:center;
	vertical-align:middle;
	border-top:.5pt solid windowtext;
	border-right:1.0pt solid windowtext;
	border-bottom:.5pt solid windowtext;
	border-left:none;
	background:#FF8080;
}
.xl188
{
	font-weight:700;
	font-family:Arial, sans-serif;
	font-size:10.0pt;
	text-align:center;
	vertical-align:middle;
	border-top:none;
	border-right:1.0pt solid windowtext;
	border-bottom:.5pt solid windowtext;
	border-left:none;
	background:#FF8080;
}
.xl189
{
	font-weight:700;
	font-family:Arial, sans-serif;
	font-size:10.0pt;
	text-align:center;
	vertical-align:middle;
	border-top:.5pt solid windowtext;
	border-right:1.0pt solid windowtext;
	border-bottom:1.0pt solid windowtext;
	border-left:none;
	background:#FF8080;
}
.xl190
{
	font-weight:700;
	font-family:Arial, sans-serif;
	font-size:10.0pt;
	text-align:center;
	vertical-align:middle;
	border-top:1.0pt solid windowtext;
	border-right:1.0pt solid windowtext;
	border-bottom:none;
	border-left:none;
	background:#FF99CC;
}
.xl191
{
	font-weight:700;
	font-family:Arial, sans-serif;
	font-size:10.0pt;
	text-align:center;
	vertical-align:middle;
	border-top:.5pt solid windowtext;
	border-right:1.0pt solid windowtext;
	border-bottom:.5pt solid windowtext;
	border-left:none;
	background:#FF99CC;
}
.xl192
{
	font-weight:700;
	font-family:Arial, sans-serif;
	font-size:10.0pt;
	text-align:center;
	vertical-align:middle;
	border-top:.5pt solid windowtext;
	border-right:1.0pt solid windowtext;
	border-bottom:1.0pt solid windowtext;
	border-left:none;
	background:#FF99CC;
}
.xl193
{
	font-weight:700;
	font-family:Arial, sans-serif;
	font-size:10.0pt;
	text-align:center;
	vertical-align:middle;
	border-top:.5pt solid windowtext;
	border-right:1.0pt solid windowtext;
	border-bottom:.5pt solid windowtext;
	border-left:none;
	background:#99CCFF;
}
.xl194
{
	font-weight:700;
	font-family:Arial, sans-serif;
	font-size:10.0pt;
	text-align:center;
	vertical-align:middle;
	border-top:none;
	border-right:1.0pt solid windowtext;
	border-bottom:none;
	border-left:none;
	background:#99CCFF;
}
.xl195
{
	font-weight:700;
	font-family:Arial, sans-serif;
	font-size:10.0pt;
	text-align:center;
	vertical-align:middle;
	border-top:.5pt solid windowtext;
	border-right:1.0pt solid windowtext;
	border-bottom:2.0pt double windowtext;
	border-left:none;
	background:#99CCFF;
}
.xl196
{
	font-weight:700;
	font-family:Arial, sans-serif;
	font-size:10.0pt;
	text-align:center;
	vertical-align:middle;
	border-top:none;
	border-right:1.0pt solid windowtext;
	border-bottom:none;
	border-left:none;
	background:#FF8080;
}
.xl197
{
	font-weight:700;
	font-family:Arial, sans-serif;
	font-size:10.0pt;
	text-align:center;
	vertical-align:middle;
	border-top:.5pt solid windowtext;
	border-right:1.0pt solid windowtext;
	border-bottom:none;
	border-left:none;
	background:#FF99CC;
}
.xl198
{
	font-weight:700;
	font-family:Arial, sans-serif;
	font-size:10.0pt;
	text-align:center;
	vertical-align:middle;
	border-top:.5pt solid windowtext;
	border-right:1.0pt solid windowtext;
	border-bottom:none;
	border-left:none;
	background:#99CCFF;
}
.xl199
{
	border-top:none;
	border-right:1.0pt solid windowtext;
	border-bottom:none;
	border-left:none;}
.xl200
{
	border-top:none;
	border-right:none;
	border-bottom:none;
	border-left:2.0pt double windowtext;
	background:black;
}
.xl201
{
	border-top:none;
	border-right:2.0pt double windowtext;
	border-bottom:none;
	border-left:none;
	background:black;
}
.xl202
{
	font-weight:700;
	font-family:Arial, sans-serif;
	font-size:10.0pt;
	font-size:10.0pt;
	text-align:center;
	vertical-align:middle;
	border-top:none;
	border-right:.5pt solid windowtext;
	border-bottom:none;
	border-left:none;
	background:#CCFFFF;
}
.xl203
{
	border-top:none;
	border-right:1.0pt solid windowtext;
	border-bottom:none;
	border-left:none;
	background:black;
}
.xl204
{
	border-top:none;
	border-right:none;
	border-bottom:none;
	border-left:1.0pt solid windowtext;
	background:black;
}
.xl205
{
	font-weight:700;
	font-family:Arial, sans-serif;
	font-size:10.0pt;
	text-align:center;
	vertical-align:middle;
	border-top:.5pt solid windowtext;
	border-right:.5pt solid windowtext;
	border-bottom:none;
	border-left:none;
	background:#CCFFFF;
}
.xl206
{
	font-weight:700;
	font-family:Arial, sans-serif;
	font-size:10.0pt;
	font-size:10.0pt;
	text-align:center;
	vertical-align:middle;
	border-top:1.0pt solid windowtext;
	border-right:.5pt solid windowtext;
	border-bottom:.5pt solid windowtext;
	border-left:none;
	background:#CCFFFF;
}
.xl207
{
	font-weight:700;
	font-family:Arial, sans-serif;
	font-size:10.0pt;
	text-align:center;
	vertical-align:middle;
	border-top:.5pt solid windowtext;
	border-right:1.0pt solid windowtext;
	border-bottom:none;
	border-left:none;
	background:#FFFF99;
}
.xl208
{
	border-top:none;
	border-right:none;
	border-bottom:2.0pt double windowtext;
	border-left:none;}
.xl209
{
	font-weight:700;
	font-family:Arial, sans-serif;
	font-size:10.0pt;
	text-align:center;
	vertical-align:middle;
	border-top:none;
	border-right:2.0pt double windowtext;
	border-bottom:none;
	border-left:none;
	background:#CCFFFF;
}
.xl210
{
	font-weight:700;
	font-family:Arial, sans-serif;
	font-size:10.0pt;
	font-size:10.0pt;
	text-align:center;
	vertical-align:middle;
	background:#CCFFFF;
}
.xl211
{
	font-weight:700;
	font-family:Arial, sans-serif;
	font-size:10.0pt;
	text-align:center;
	vertical-align:middle;
	border-top:.5pt solid windowtext;
	border-right:1.0pt solid windowtext;
	border-bottom:none;
	border-left:none;
	background:#FFCC00;
}
